@font-face {
    src: url(fonts/Asap-Regular.ttf);
    font-family: ASAP;
}

@font-face {
    src: url(fonts/Asap-Bold.ttf);
    font-family: ASAP_BOLD;
    font-weight: bold;
}


body {
    background-color: #ffd700;
}

h1 {
     color: #88ce02;
    text-align: center;
    font-family: 'Candal', sans-serif;
}

#pirate-pic {
    width: 100%;
    height: auto;
}



h2 {
    color: #ff3c2c;
    text-align: center;
    font-family: 'Candal', sans-serif;
}

h3 {
    color: #ff8500;
}

* {
    font-family: Georgia;
}
